/* Write your CSS here */
.app-container {
  margin: 0px;
}

.responsive-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
}

.ipl-logo {
  height: 50px;
  width: 50p;
}

.ipl-heading {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Bree Serif';
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .title-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-evenly;
  }

  .ipl-logo {
    height: 60px;
    width: 60p;
  }

  .ipl-heading {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Bree Serif';
    color: #ffffff;
  }
}

.loader-container {
  margin: 12px;
}

.ipl-teams-list-container {
  padding: 14px;
}

@media screen and (min-width: 768px) {
  .ipl-teams-list-container {
    padding: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
