.latest-match-section {
  font-family: 'Bree Serif';
  width: 90%;
}

.latest-match-container {
  background-color: #0f172a;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .latest-match-container {
    background-color: #0f172a;
    border-radius: 12px;
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.latest-match-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .latest-match-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 63%;
  }
}

.latest-competing-team {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.latest-match-details {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 16px;
}

.competing-team-logo {
  width: 100px;
  margin-right: 32px;
}

@media screen and (min-width: 768px) {
  .competing-team-logo {
    width: 150px;
    margin-right: 32px;
  }
}

.break-line {
  border: 1px solid #ffffff;
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .break-line {
    display: none;
  }
}

.match-category-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
}

.match-category-result {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .match-category-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0px;
  }

  .match-category-result {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 6px;
  }
}

.match-details {
  margin-right: 32px;
}

@media screen and (min-width: 768px) {
  .match-details {
    margin-right: 52px;
  }
}
